.vscode
*.code-workspace
.DS_Store
examples/.DS_Store
set_envs.sh
metalcloud-cli
scripts/getgocookie.sh
cover.out
cover.html
coverage.out
snap.login
scripts/secrets
scripts/secrets.tar.gz
secrets
dist
set_poc.sh
set_integration.sh
__debug*
*.exe
!cmd/metalcloud-cli

# direnv
.envrc
.env
metalcloud.yaml

/bin
*.log

# Go workspace file
go.work
go.work.sum
